.glass {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.glass div {
  height: 100%;
  width: 600px;
}
.glass-left {
  margin-left: 50px;
}
.img2 {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.glass-right {
  cursor: pointer;
  flex-grow: 1;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  box-shadow: rgba(39, 37, 37, 0.35) 0px 5px 15px;
  border-radius: 15px;
  background-color: sandybrown;
  transition: transform 0.5s;
}

.glass-right:hover {
  transform: scale(0.9);
}

.glass-right h1 {
  font-size: 4rem;
}
.glass-right p {
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  font-size: 1.5rem;
}
.glass-right a {
  font-size: x-large;
  color: black;
}

.main {
  margin-top: 50px;
  border-radius: 60px 60px 0 0;
  height: 700px;
  background-color: sandybrown;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c2 {
  text-align: center;
}

.c2 h2 {
  font-size: 4rem;
  margin: 10px;
}
.c2 p {
  font-size: 1.2rem;
  margin: 10px;
}
.c2 input {
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: larger;
  margin: 20px 10px;
}

.btn {
  background: #fff;
  border: none;
  height: 50px;
  margin-left: 30px;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 300px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

.btn span {
  display: inline-block;
  transform: skew(21deg);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.btn:hover {
  color: #fff;
}

.btn:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

/* 

responsive css
*/

@media screen and (max-width: 740px) {
  .glass-right {
    margin: 20px;
    padding: 20px;
  }

  .glass-right h1 {
    font-size: 3rem;
  }
  .glass-right p {
    text-align: justify;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  .glass-left {
    margin: 0px;
  }
}
@media screen and (max-width: 1358px) {
  .glass-right {
    margin-top: 30px;
    margin-left: 40px;
  }
}
