.glass {
  margin-top: 50px;
  display: flex;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
}
.glass div {
  height: auto;
  margin: 40px;
}

.glass-left {
  flex-basis: 600px;
}

.glass-right {
  flex: 2;
}

.img2 {
  width: 100%;
  height: auto;
}

.glass-right h1 {
  margin-top: 10rem;
  font-size: 3.5rem;
}
.glass-right p {
  margin: 3rem 0;
  font-size: 1.3rem;
  text-align: justify;
}
.readlink {
  color: black;
  font-size: 1.4rem;
}

@media screen and (max-width: 740px) {
  .glass-right h1 {
    margin-top: 1rem;
    font-size: 3rem;
  }
  .glass-right p {
    margin: 2rem 0;
    font-size: 1.3rem;
    text-align: justify;
  }
  .readlink {
    color: black;
    font-size: 1.4rem;
  }
}
